@import "./config";

.about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  min-height: 100vh;
  max-width: 90vw;
  margin: auto;
  margin-top: 2rem;

  @include desktop() {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
  }

  .about-text,
  .about-img {
    align-self: center;
  }
}

.about-text {
  h1 {
    font-size: 3rem;
    color: $celadon-blue;
    @include desktop() {
      font-size: 5rem;
    }
  }

  p {
    text-align: justify;

    @include desktop() {
      margin: 2rem 0;
    }
    span {
      display: block;
      margin-top: 0.5rem;
    }
  }
}

.about-img {
  position: relative;

  .profile {
    width: 60%;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 2rem;
  }

  .social-links {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    a {
      font-size: 2rem;
      color: $light;

      &:hover {
        color: $celadon-blue;
      }
    }
  }
}
