@import "./config";

header {
  //   1️⃣ MENU ICON

  .menu-icon {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: $easeOut;
    z-index: 99;

    span {
      display: block;
      width: 2.3rem;
      height: 0.18rem;
      background-color: $light;
      transition: $easeOut;
    }

    span:not(:first-child) {
      margin-top: 0.5rem;
    }

    &.close {
      transform: rotate(180deg);

      :nth-child(2) {
        opacity: 0;
      }
      :first-child {
        transform: rotate(45deg) translate(3px, 8px);
      }
      :last-child {
        transform: rotate(-45deg) translate(8px, -12px);
      }
    }
  }

  nav {
    position: fixed;
    top: 0;
    min-height: 100vh;
    z-index: 9;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    transform: translate3d(0, -100%, 0);
    transition: $easeOut;
    background: $celadon-blue;

    &.show {
      transform: translate3d(0, 0, 0);

      a {
        transform: translate3d(0, 0, 0);
      }
    }

    a {
      color: $dark;
      font-size: 1.8rem;
      transform: translate3d(600px, 0, 0);
      transition: $easeOut;
      position: relative;

      &:hover {
        &::after {
          width: 5rem;
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0.1rem;
        border-radius: 10px;
        transition: $easeOut;
        background: $dark;
      }
    }
  }
}

@for $i from 1 through 4 {
  .item:nth-child(#{$i}) {
    transition-delay: $i * 0.1s;
  }
}
